@charset "UTF-8";
html, body {
    /* Whole website*/
    margin: 0; 
    padding: 0;
    font-size: 100%;
    background-color: #f0efe9;
    font-weight: 500;
}
a {
    text-decoration: none;
}
h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;

}
.only-on-mobile {
    display:none;
}

/* Apply emphasis on certain words or paragraphs */
#emphasis {
    font-weight: 600;
    font-size: 1.5em;
    margin: 0;
}

.youtube-video {
    aspect-ratio: 16 / 9;
    width: 100%;
    max-width: 500px;
    border: none;
}

/* Container of all content */
#mainwrapper {
	overflow: auto;
    font-family: 'Maitree', serif;
}
#mainwrapper header {
	/*Header */
    position: relative;
	background-image: linear-gradient(120deg,#d5e6e9 0%, #c2e9fb 100%);
	font-weight: 400;
    max-height: 80px;
}

header #logo {
    width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2%;
}
/*Logo image*/
#logo img {
    display: block;
    max-height: 50px;
    margin-top: auto;
    margin-bottom: auto;
}

/*Nav bar containing links in header */
nav {
    position: absolute;
	text-align: right;
    padding-top: 12px;
    padding-bottom: 12px;
	width: 50%;
    bottom: 0;
    right: 0;
    margin-right: 2%;
}
/* Links in header */
nav a {
    font-weight: 500;
	padding-left: 5%;
    color: black;
    font-size: 100%;
}



#introduction {
    display: flex;
    right: 0px;
}

#introText {
    padding-left: 5%;
    padding-right: 2%;
    margin-top: auto;
    margin-bottom: auto;
    width: 60%;
}

#introText h1 {
    color: #5c6932;
    font-weight: 500;
    font-size: 4rem;
    line-height: 90%;
}

#blog {
    padding-left: 5%;
    padding-right: 5%;
}

#blog h1 {
    font-size: 2.75rem;
    color: #3e6177;
    margin: 1% 0 0 0;
}


.blog-post {
    /* position: relative; */
    max-width: 100%;
    min-height: 250px;
    margin: 3% 0 3% 0;
    display: flex;
    flex-wrap: wrap;
    color: #000000;
}


.blog-post .desc{
    margin-bottom: 0px;
}

.blog-desc{
    margin: 2% 1% 1% 2%;
    flex: 3 1 400px;
    flex-direction: column;
}

.blog-desc h2 {
    line-height: 80%;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 1.75rem;
}

.blog-desc h2, h3{
    margin: 0% 0% 1% 0%;
}

.blog-desc h3 {
    font-weight: 700;
    color: #805222;
}

.blog-post .blog-img {
    flex: 1 0 250px;
    max-height: 250px;
    max-width: 100%;
    object-fit: cover;  
    border-radius: 10px;
}

#blogContent {
    padding-left: 5%;
    padding-right: 5%;
}

#blogContent h1 {
    font-size: 2rem;
    color: #3e6177;
}
#blogContent h2 {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    font-size: 1.8rem;
    font-weight: 400;
}

#blogContent #material {
    margin-top: 1%;
    font-weight: 500;
    font-size: 1em;
}

#blogContent img{
    max-height: 250px;
    border-radius: 10px;
    margin: 0 2% 0 0; 
}

#blogContent #shopLink {
    text-decoration: underline;
    color:#3e6177;
}

/* New Arrivals */
.new-arrivals {
	/* Sidebar*/
    width: 50%;
	background-color: #d5debb;
    margin-left: auto; 
    margin-right: 0;
    max-height: 500px;
    overflow: scroll;
}

.new-arrivals::-webkit-scrollbar {
    /* Hide scroll bar for new-arrivals section */
    display: none;
}

.new-arrivals h1{
    line-height: 0%;
    padding-left: 3%;
    padding-top: 1%;
    font-size: 1.75rem;
}

.new-arrivals .display-items {
    padding: 0% 2%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
}

.new-arrivals .display-items .item-container{
    position: relative;
    border-radius: 10px;
    margin: 0% 2% 4% 2%;
}
.new-arrivals .item-container::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  
.new-arrivals .item{
    position: absolute;
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.new-arrivals .itemName{
    position: absolute;
    display: block;
    bottom: 0;
    background-color: #f0efe9;
    height: 20%;
    width: 100%;
    border-radius: 0 0 10px 10px;
    text-align: center;
    font-weight: 500;
    font-size: 100%;
}

/* Highlights */
#highlights{
    padding: 0 2% 2% 2%;
    background-color: #e4d7cb;
}

#highlights .blog-post {
    /* position: relative; */
    max-width: 100%;
    min-height: 250px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    color: #000000;
}

#highlights h1{
    padding: 2% 0%;
    margin: 0;
    font-size: 1.75rem;
}

/* Shop Container */
.shop-container {
    margin-top: 50px;
    margin-left: 2%;
    margin-right: 2%;
    min-height: 750px;
    display:flex;
}
/* Shop Sidebar design */
#sidebar-filter {
    width: 20%;
    margin-right: 2%;
}

#sidebar-filter ul{
    margin-top: 0;
    list-style-type: none;
    padding: 0;
    border-right: 2px solid #805222;
}
#sidebar-filter ul li{
    margin-bottom: 5px;
}
/* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
    background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
    background-color: #666666;
    color: white;
}


/* Shop Items*/
.dont-show {
    display: none;
}
.shop{
    width: 80%;
    margin-left: auto; 
    margin-right: 0;
}
.shop .display-items {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.shop .display-items .item-container{
    position: relative;
    border-radius: 10px;
    margin: 0% 3% 6% 3%;
}
.shop .item-container::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  
.shop .item{
    position: absolute;
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.shop .itemDesc{
    padding: 2% 0;
    position: absolute;
    display: block;
    bottom: 0;
    background-color: #e6dad0;
    height: 20%;
    width: 100%;
    border-radius: 0 0 10px 10px;
    text-align: center;
    font-weight: 500;
    font-size: 90%;
}
.shop .price{
    font-weight: 600;
}

/* Footer desgin */
.site-footer
{   
    background-image: linear-gradient(120deg,#d5e6e9 0%, #c2e9fb 100%);
    padding: 1% 0 0 2%;
    font-weight: 400;
}
/* Set font weight of h3 in footer */
.site-footer h3 {
    font-weight: 600;
}
/* Sets class="social-media" and class="newsletter-container" to wrap*/
.wrap {
    display: flex;
    flex-wrap: wrap;

}

/* Set margin space between class="social-media" and class="newsletter-container" */
.social-media {
    margin-right: 5%;
}
/* Creates the social media icon background circles */
.site-footer .social-icons a
{
    width:44px;
    height:44px;
    line-height:44px;
    margin: 5px 10px 5px 0;
    border-radius:100%;
    background-color:#a4c6d6;
    display:inline-block;
    text-align:center;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear;
}
/* Gets rid of padding and margins as well as bullet list-style */
.social-icons
{
    padding-left:0;
    margin-top: 0;
    margin-bottom:0;
    list-style:none
}
/* Sets the icons to inline so it's next to each other */
.social-icons li
{
    display:inline-block;
    margin-bottom:4px
}
/* Sets the size and position of the social media icons in the circle */
.social-icons img{
    width:30px;
    height:30px;  
    padding-top: 5px;
}
/* Creates colour hover effect for the icons*/
.social-icons a.instagram:hover
{
  background-color:#de879e;
}
.social-icons a.tiktok:hover
{
  background-color:#7bede9;
}

/* Gets rid of the border for the form input and changes border-radius and height */
input {
    border: none;
    border-radius: 2px;
    height: 35px;
    padding: 0 10px;
    margin-bottom: 5px;
    outline: none;
}
/* When user clicks on the input */
input:focus {
    border: 2px solid #946d42;
}

/* Style the submit button */
input[type=submit] {
    background-color: #946d42;
    color: #e3eced;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
}
input[type=submit]:hover {
    background-color: #7a552d;
}
  
/*Nav bar containing links in footer */
.site-footer nav{
    position: unset;
    text-align:unset;
    padding-top: 5px;
    width: auto;
    margin-right: 0;
}

/* Links in footer */
.site-footer nav a {
    padding-left: 0;
	padding-right: 5%;
}

/*mobile view*/
/* When website is max-width 480px */
@media screen and (max-width: 480px) {
    header #logo {
        padding-left: 0;
        margin-left: auto;
        margin-right: auto;
    }
    header img {
        display: block;
        padding-left: 0;
        max-height: 50px;
        margin: auto;
    }

    .not-on-mobile {
        display:none;
    }

    #introduction {
        display: inline;
    }
    
    #introText {
        padding: 1% 3% 1% 3%;
        width: 93%;
    }
    
    #introText h1 {
        margin: 2% 0 0 0;
        font-size: 3.75rem;
    }

    .new-arrivals {
        /* Sidebar*/
        width: 100%;
        max-height: none;
    }
    .shop{
        /* Sidebar*/
        width: 100%;
    }

    /* Shop Page*/
    .shop-container {
        /* Make shop page inline so filter and items are organized top and bottom. */
        margin-top: 0px;
        display: inline;
        margin-right: 0;
    }   
    #sidebar-filter {
        /* Set the filters width to 100% so it takes up all available space, scroll to view all visible filters*/
        width: 100%;
        padding-top: 2%;
        overflow-y: scroll;
        white-space: nowrap;
    }    
    #sidebar-filter li{
        /* Set to inline instead of block so filters are side by side*/
        display: inline;
    }
    #sidebar-filter ul{
        /* Get rid of the border on the right side that would be on desktop*/
        border-right: none;
        padding-bottom: 2%;
    }

    #blog h1 {
        font-size: 2.5rem;
        margin: 2% 0;
    }
    .blog-desc h2 {
        line-height: 100%;
        font-size: 1.5rem;
    }

    #blog {
        padding-left: 3%;
        padding-right: 3%;
    }
    
    

    
}