@charset "UTF-8";
/* Reset styles for the entire website */
html, body {
    margin: 0; 
    padding: 0;
    font-size: 100%;
    background-color: #f0efe9;
    font-weight: 500;
}
/* Remove default underline style for anchor links */
a {
    text-decoration: none;
}
/* Default styling for main heading elements */
h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;

}
/* Hide elements with the 'only-on-mobile' class on devices other than mobile */
.only-on-mobile {
    display:none;
}

/* Apply emphasis on certain words or paragraphs */
#emphasis {
    font-weight: 600;
    font-size: 1.5em;
    margin: 0;
}
/* Styling for YouTube video embeds */
.youtube-video {
    aspect-ratio: 16 / 9;
    width: 100%;
    max-width: 500px;
    border: none;
}


/* Container for all content on the website */
#mainwrapper {
	overflow: auto;
    font-family: 'Maitree', serif;
}
/* Header styling */
#mainwrapper header {
    position: relative;
	background-image: linear-gradient(120deg,#d5e6e9 0%, #c2e9fb 100%);
	font-weight: 400;
    max-height: 80px;
}
/* Logo styling within the header */
header #logo {
    width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2%;
}
/*Logo image*/
#logo img {
    display: block;
    max-height: 50px;
    margin-top: auto;
    margin-bottom: auto;
}


/* Styling for the menu icon */
#menu-btn {
    float: left; /* Let image float over logo space */
    padding-left: 3%;
    padding-top: 18px;
    height: 35px;
}

/* Overlay styling for navigation menu */
.overlay {
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 70px;
    background-color: #ffffffdb; 
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s;
}
    
/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 60px;
    width: 100%; /* 100% width */
    text-align: left; /* Left-aligned text/links */
    padding-left: 3%;
}
    
/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    font-weight: 500;
    font-size: 1.5rem;
    color: #805322;
    display: block; 
}
    
/* Position and styling of the close button in the overlay */
.overlay .closebtn {
    position: absolute;
    top: 0; 
    left: 3%; /* Button is 3% from the left to align with the links */
    font-size: 50px;
}
    

/* Navigation bar containing links in the header */
nav {
    position: absolute;
	text-align: right;
    padding-top: 12px;
    padding-bottom: 12px;
	width: 50%;
    bottom: 0;
    right: 0;
    margin-right: 2%;
}
/* Styling for links in the header */
nav a {
    font-weight: 500;
	padding-left: 5%;
    color: black;
    font-size: 100%;
}


/* index.html Introduction section styling */
#introduction {
    display: flex;
    right: 0px;
}
/* Introduction text styling */
#introText {
    padding-left: 5%;
    padding-right: 2%;
    margin-top: auto;
    margin-bottom: auto;
    width: 60%;
}
/* Styling for the main heading in the introduction */
#introText h1 {
    color: #5c6932;
    font-weight: 500;
    font-size: 4rem;
    line-height: 90%;
}

/* New Arrivals*/
.new-arrivals {
    width: 50%;
	background-color: #d5debb;
    margin-left: auto; 
    margin-right: 0;
    max-height: 500px;
    overflow: scroll;
}
/* Hide scroll bar for new-arrivals section */
.new-arrivals::-webkit-scrollbar {
    display: none;
}
/* Styling for new arrivals section heading */
.new-arrivals h1{
    line-height: 0%;
    padding-left: 3%;
    padding-top: 1%;
    font-size: 1.75rem;
}
/* Display the items in grid */
.new-arrivals .display-items {
    padding: 0% 2%;
    display: grid;
    /* Minimum 175px, maximum available space shared equally among items */
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
}
/* Styling for individual items in new arrivals section */
.new-arrivals .display-items .item-container{
    position: relative;
    border-radius: 10px;
    margin: 0% 2% 4% 2%;
}
/* Sets the space for the item-container */
.new-arrivals .item-container::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
/* Styling for individual items */
.new-arrivals .item{
    position: absolute;
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
/* Styling for item names */
.new-arrivals .itemName{
    position: absolute;
    display: block;
    bottom: 0;
    background-color: #f0efe9;
    height: 20%;
    width: 100%;
    border-radius: 0 0 10px 10px;
    text-align: center;
    font-weight: 500;
    font-size: 100%;
}


/* Highlights */
#highlights{
    padding: 0 2% 2% 2%;
    background-color: #e4d7cb;
}
/* Styling for blog posts in highlights section */
#highlights .blog-post {
    max-width: 100%;
    min-height: 250px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    color: #000000;
}
/* Styling for highlights section heading */
#highlights h1{
    padding: 2% 0%;
    margin: 0;
    font-size: 1.75rem;
}


/* index.teml Blog section styling */
#blog {
    padding-left: 5%;
    padding-right: 5%;
}
/* Styling for main heading in the blog section */
#blog h1 {
    font-size: 2.75rem;
    color: #3e6177;
    margin: 1% 0 0 0;
}


/* Used in blog.html and index.html */
/* Styling for individual blog posts */
.blog-post {
    max-width: 100%;
    min-height: 250px;
    margin: 3% 0 3% 0;
    display: flex;
    flex-wrap: wrap;
    color: #000000;
}
/* Styling for the description within blog posts */
.blog-desc{
    margin: 2% 1% 1% 2%;
    flex: 3 1 400px;
    flex-direction: column;
}
/* Styling for the content for the description within blog posts*/
.blog-desc .desc{
    margin-bottom: 0px;
}
/* Styling for the h2 used in blog posts */
.blog-desc h2 {
    line-height: 80%;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 1.75rem;
}
/* Setting the margins for h2 and h3 */
.blog-desc h2, h3{
    margin: 0% 0% 1% 0%;
}
/* Styling for the h3 used in blog posts */
.blog-desc h3 {
    font-weight: 700;
    color: #805222;
}
/* Styling for blog post images */
.blog-post .blog-img {
    flex: 1 0 250px;
    max-height: 250px;
    max-width: 100%;
    object-fit: cover;  
    border-radius: 10px;
}


/* blogpost.html */
/* Styling for blog content section */
#blogContent {
    padding-left: 5%;
    padding-right: 5%;
}
/* Styling for blog content headings */
#blogContent h1 {
    font-size: 2rem;
    color: #3e6177;
}
/* Styling for blog content subheadings */
#blogContent h2 {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    font-size: 1.8rem;
    font-weight: 400;
}
/* Styling for material section in blog content */
#blogContent #material {
    margin-top: 1%;
    font-weight: 500;
    font-size: 1em;
}
/* Styling for images in blog content */
#blogContent img{
    max-height: 250px;
    border-radius: 10px;
    margin: 0 2% 0 0; 
}
/* Styling for shop link in blog content that links to shop.html */
#blogContent #shopLink {
    text-decoration: underline;
    color:#3e6177;
}


/* Shop Container shop.html */
.shop-container {
    margin-top: 50px;
    margin-left: 2%;
    margin-right: 2%;
    min-height: 750px;
    display:flex;
}
/* Shop Sidebar design */
#sidebar-filter {
    width: 20%;
    margin-right: 2%;
}
/* Styling for shop sidebar */
#sidebar-filter ul{
    margin-top: 0;
    list-style-type: none;
    padding: 0;
    border-right: 2px solid #805222;
}
/* Styling for shop sidebar choices */
.btn {
    margin-bottom: 5px;
    border: none;
    outline: none;
    padding: 12px 16px;
    cursor: pointer;
}
/* Add a light grey background on mouse-over */
.btn:hover {
    background-color: #ddd;
}
/* Add a dark background to the active button */
.btn.active {
    background-color: #666666;
    color: white;
}


/* Items with class "dont-show" will not be shown as display set to none. */
.dont-show {
    display: none;
}
/* Styling for shop items section which contains all available items */
.shop{
    width: 80%;
    margin-left: auto; 
    margin-right: 0;
}
/* Grid display for items */
.shop .display-items {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
/* Styling for individual items in shop section */
.shop .display-items .item-container{
    position: relative;
    border-radius: 10px;
    margin: 0% 3% 6% 3%;
}
.shop .item-container::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
/* Styling for images */
.shop .item{
    position: absolute;
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
/* Styling for item descriptions in shop section */
.shop .itemDesc{
    padding: 2% 0;
    position: absolute;
    display: block;
    bottom: 0;
    background-color: #e6dad0;
    height: 20%;
    width: 100%;
    border-radius: 0 0 10px 10px;
    text-align: center;
    font-weight: 500;
    font-size: 90%;
}
.shop .price{
    font-weight: 600;
}


/* Footer desgin */
.site-footer
{   
    background-image: linear-gradient(120deg,#d5e6e9 0%, #c2e9fb 100%);
    padding: 1% 0 0 2%;
    font-weight: 400;
}
/* Set font weight of h3 in footer */
.site-footer h3 {
    font-weight: 600;
}
/* Sets class="social-media" and class="newsletter-container" to wrap*/
.wrap {
    display: flex;
    flex-wrap: wrap;
}
/* Set margin space between class="social-media" and class="newsletter-container" */
.social-media {
    margin-right: 5%;
}
/* Creates the social media icon background circles */
.site-footer .social-icons a
{
    width:44px;
    height:44px;
    line-height:44px;
    margin: 5px 10px 5px 0;
    border-radius:100%;
    background-color:#a4c6d6;
    display:inline-block;
    text-align:center;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear;
}
/* Gets rid of padding and margins as well as bullet list-style */
.social-icons
{
    padding-left:0;
    margin-top: 0;
    margin-bottom:0;
    list-style:none
}
/* Sets the icons to inline so it's next to each other */
.social-icons li
{
    display:inline-block;
    margin-bottom:4px
}
/* Sets the size and position of the social media icons in the circle */
.social-icons img{
    width:30px;
    height:30px;  
    padding-top: 5px;
}
/* Creates colour hover effect for the icons*/
.social-icons a.instagram:hover
{
  background-color:#de879e;
}
.social-icons a.tiktok:hover
{
  background-color:#7bede9;
}

/* Gets rid of the border for the form input and changes border-radius and height */
input {
    border: none;
    border-radius: 2px;
    height: 35px;
    padding: 0 10px;
    margin-bottom: 5px;
    outline: none;
}
/* When user clicks on the input */
input:focus {
    border: 2px solid #946d42;
}

/* Style the submit button */
input[type=submit] {
    background-color: #97bdce;
    color: #2b2b2b;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
}
input[type=submit]:hover {
    background-color: #a8ba6c;
}
  
/*Nav bar containing links in footer */
.site-footer nav{
    position: unset;
    text-align:unset;
    padding-top: 5px;
    width: auto;
    margin-right: 0;
}
/* Links in footer */
.site-footer nav a {
    padding-left: 0;
	padding-right: 5%;
}


/*mobile view*/
/* When website is max-width 480px */
@media screen and (max-width: 480px) {
    /* For sections that are only displayed on mobile */
    .only-on-mobile {
        display: inline;
    }
    /* Hides sections that are not to be seen on mobile */
    .not-on-mobile {
        display:none;
    }
    /* Change alignment of logo in header to center */
    header #logo {
        padding-left: 0;
        margin-left: auto;
        margin-right: auto;
    }
    /* Change the size of the logo image */
    header img {
        display: block;
        padding-left: 0;
        max-height: 50px;
        margin: auto;
    }


    /* index.html to be set to inline instead of flex */
    #introduction {
        display: inline;
    }
    
    #introText {
        padding: 1% 3% 1% 3%;
        width: 93%;
    }
    
    #introText h1 {
        margin: 2% 0 0 0;
        font-size: 3.75rem;
    }

    .new-arrivals {
        /* Sidebar*/
        width: 100%;
        max-height: none;
    }
    .shop{
        /* Sidebar*/
        width: 100%;
    }

    /* Shop Page*/
    .shop-container {
        /* Make shop page inline so filter and items are organized top and bottom. */
        margin-top: 0px;
        display: inline;
        margin-right: 0;
    }   
    #sidebar-filter {
        /* Set the filters width to 100% so it takes up all available space, scroll to view all visible filters*/
        width: 100%;
        padding-top: 2%;
        overflow-y: scroll;
        white-space: nowrap;
    }    
    #sidebar-filter li{
        /* Set to inline instead of block so filters are side by side*/
        display: inline;
    }
    #sidebar-filter ul{
        /* Get rid of the border on the right side that would be on desktop*/
        border-right: none;
        padding-bottom: 2%;
    }

    #blog h1 {
        font-size: 2.5rem;
        margin: 2% 0;
    }
    .blog-desc h2 {
        line-height: 100%;
        font-size: 1.5rem;
    }

    #blog {
        padding-left: 3%;
        padding-right: 3%;
    }    
}